RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

RewriteRule ^sitemap.xml$ sitemap.php
RewriteRule ^robots.txt$ robots.php
RewriteRule ^sitemaps.html$ sitemaps.php
